.add {
  padding: 14px;
  border-radius: 12px;
  //background-color: #203d4a;
  &__container {
    margin: 0 auto;
    text-align: center;
  }
  &__description {
    width: 200px;
    margin-right: 10px;
  }
  &__category {
    width: 200px;
    margin-right: 10px;
  }
  &__amount {
    width: 100px;
  }
  &__btn {
    margin-top: 40px;
  }
}