.features {
  font-family: 'Roboto', sans-serif;
  color: #203d4a;
  &__header {
    text-align: center;
    margin: 30px 30px 75px;
  }
  &__heading {
    font-weight: 300;
    font-size: 25px;
    margin: 20px 0;
  }
  &__text {
    font-size: 18px;
    font-weight: 300;
  }
  &__main {}
  &__container {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 1106px;
  }
  &__container::after {
    content: "";
    clear: both;
    display: table;
  }
  &__card {
    float: left;
    position: relative;
    box-sizing: border-box;
    width: 350px; height: 200px;
    margin: 0;
    padding: 32px;
    border-radius: 10px;
    border-top: solid 3px #203d4a;
    box-shadow: 2px 5px 20px rgba(0,0,0,0.1);
    &:first-child {
      margin: 90px 0;
    }
    &:nth-child(2),
    &:nth-child(3){
      margin: 0 22px;
    }
    &:last-child {
      margin-top: -110px;
    }
    &:nth-child(3) {
      margin-top: 30px;
    }
    &--heading {
      font-size: 20px;
      font-weight: 500;
    }
    &--text {
      margin-top: 10px;
      font-size: 16px;
      font-weight: 300;
    }
  }
}