.not-found {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  &__container {
    z-index: 300;
    top: 50%;
    width: 100%;
    color: #fff;
    text-align: center;
    position: absolute;
    transform: translateY(-50%);
  }
  &__container h1 {
    margin: 0;
    font-size: 160px;
    font-weight: 900;
    letter-spacing: 20px;
    background: linear-gradient(315deg, rgba(100, 121, 138, 0.8) 0%, rgba(61, 83, 98, 0.8) 74%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

  }
  &__heading {
    font-size: 15px;
    color: #203d4a;
  }
  &__text {
    font-size: 20px;
    color: #203d4a;
  }
}