.sidebar {
  width: 5%;
  color: #fff;
  height: 100vh;
  min-width: 80px;
  max-width: 280px;
  position: relative;
  overflow: hidden auto;
  background: linear-gradient(315deg, rgba(100, 121, 138, 0.8) 0%, rgba(61, 83, 98, 0.8) 74%);
  &__header {
    padding: 20px 0;
    text-align: center;
    margin-bottom: 10px;
    &--heading {
      font-size: 15px;
      cursor: pointer;
      user-select: none;
      letter-spacing: 1px;
    }
  }
  &__container {
    &--item {
      color: #fff;
      cursor: pointer;
      font-weight: 600;
      padding: 6px 20px;
      text-align: center;
      white-space: nowrap;
      text-decoration: none;
      transition: .2s ease-in all;
      &:after {
        content: '';
        display: block;
        margin: 8px 0 4px;
        transition: .1s ease-in all;
        border: 1px solid rgba(255, 255, 255, 0.4);
      };

      &.selected {
        background-color: rgba(255, 255, 255, 0.6);
        &:after {
          border: 1px solid #fff;
        }
      }
      &.after {
        &:hover {
          &:after {
            transition: .1s ease-in all;
            border: 1px solid rgba(39, 72, 88, 0.4);
          }
        }
      }
    }
    &--image {
      width: 16px;
      height: 16px;
    }
    &--text {
      display: none;
    }
  }
}