.add {
  padding: 14px;
  border-radius: 12px;
  &__container {
    margin: 0 auto;
    text-align: center;
    &--dropdown {
      margin-bottom: 20px;
    }
  }
  &__raw {
    display: flex;
    flex-wrap: wrap;
  }
  &__space {
    margin-bottom: 10px;
    justify-content: space-between;
  }
  &__description {
    width: 200px;
  }
  &__category {
    width: 200px;
  }
  &__amount {
    width: 100%;
    margin-top: 10px;
  }
  &__btn {
    margin-top: 40px;
  }
}