.add {
  padding: 0.8em;
  border-radius: 0.7em;
  &__container {
    margin: 0 auto;
    text-align: center;
  }
  &__raw {
    display: flex;
    flex-wrap: wrap;
  }
  &__space {
    margin-bottom: 0.6em;
    justify-content: space-between;
  }
  &__description, &__category {
    width: 14em;
  }
  &__amount {
    width: 100%;
    margin-top: 0.6em;
  }
  &__btn {
    margin-top: 2.5em;
  }
  &.open &__add {
    display: block;
  }
}