.budget {
  width: 50em;
  height: 100%;
  margin: 0 auto;
  font-weight: 300;
  color: $color-primary;
  font-family: $font-family-primary;
  &__header {
    padding-top: 1.3em;
    text-align: center;
  }
  &__title {
    font-size: 1.1em;
  }
  &__subtitle {
    font-size: 1.1em;
  }
  &__container {
     margin-top: 5em;
  }
  &__box {
    width: 100%;
    margin-top: 5em;
  }
  &__value {
    width: 43.7em;
    height: 15.6em;
    margin: 0 auto;
  }
  &__currency {
    left: 12%;
    width: 6em;
    bottom: 2.6em;
    position: relative;
  }
  &__datepicker {
    left: 77.3%;
    bottom: 4.7em;
    position: relative;
  }
  &__datepicker-img {
    width: 2em;
    height: 2em;
    cursor: pointer;
  }
}