//Double bar
.double-bar-chart {
  &__title {
    font-size: 0.7em;
    font-weight: 500;
    text-anchor: start;
    fill: $color-primary;
    text-transform: uppercase;
  }
  &__color-legend {
    font-size: 0.9em;
  }
}
//Balance bar
.balance-bar-chart {
  &__title {
    font-size: 0.7em;
    font-weight: 500;
    text-anchor: start;
    fill: $color-primary;
    text-transform: uppercase;
  }
}
//Other
.axis line {
  stroke :$color-primary;
}
.axis text {
  font-size: 0.7em;
}
.axis:not(:first-of-type) {
  stroke-opacity: 0.5;
  stroke-dasharray: 2.2;
}