.contact-form {
  font-weight: 300;
  position: relative;
  font-family: 'Roboto', sans-serif;
  &__header {
    color: #203d4a;
    margin-top: 30px;
    text-align: center;
    &--title {
      font-size: 25px;
    }
  }
  &__main {
    padding: 30px 0;
    position: relative;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    padding: 24px 55px;
    align-items: flex-start;
  }
  &__name {
    width: 188px;
    font-size: 20px;
  }
  &__value {
    width: 60%;
  }
  &__footer {
    width: auto;
    text-align: center;
  }
  &__cell {
    width: 40%;
    margin: 0 auto;
  }
}