.contact {
  height: 100%;
  width: 43.7em;
  margin: 0 auto;
  font-weight: 300;
  color: $color-primary;
  font-family: $font-family-primary;
  &__header {
    text-align: center;
    padding-top: 1.95em;
  }
  &__header-title {
    font-size: 1.5em;
  }
  &__main {
    padding: 1.8em 0;
    position: relative;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5em 3.4em;
    align-items: flex-start;
  }
  &__name {
    width: 6.7em;
    padding: 0.3em;
    font-size: 1.2em;
  }
  &__value {
    width: 60%;
  }
  &__footer {
    width: auto;
    margin-left: 1.5em;
    text-align: center;
  }
  &__btn-box {
    width: 40%;
    margin: 0 auto;
  }
}