.features {
  width: 68em;
  height: 100%;
  margin: 0 auto;
  color: $color-primary;
  font-family: $font-family-primary;
  &__header {
    text-align: center;
  }
  &__title {
    font-size: 1.5em;
    font-weight: 300;
    padding-top: 1.5em;
  }
  &__subtitle {
    padding-top: 1em;
    font-size: 1.1em;
    font-weight: 300;
  }
  &__container {
    list-style: none;
    padding-top: 4em;
    text-align: center;
  }
  &__container::after {
    content: "";
    clear: both;
    display: table;
  }
  &__card {
    float: left;
    padding: 2em;
    border-radius: 0.6em;
    width: 21.8em; height: 12.5em;
    border-top: solid 3px $color-primary;
    box-shadow: 0.1em 0.3em 1.2em rgba(0,0,0,0.1);
    &:first-child {
      margin: 5.6em 0;
    }
    &:nth-child(2),
    &:nth-child(3){
      margin: 0 1.3em;
    }
    &:last-child {
      margin-top: -6.8em;
    }
    &:nth-child(3) {
      margin-top: 1.8em;
    }
  }
  &__card-title {
    font-size: 1.2em;
    font-weight: 500;
  }
  &__card-description {
    font-size: 1em;
    margin-top: 0.6em;
  }
}