.list {
  height: 50px;
  padding: 5px;
  display: flex;
  margin: 18px 0;
  color: #64798A;
  font-weight: 500;
  position: relative;
  border-radius: 5px;
  align-items: center;
  border: 2px solid #dedcdc;
  font-family: Open Sans, sans-serif;
  background: rgba(226, 193, 225, 0.03);
  box-shadow: 1px 0 10px 1px rgba(186, 155, 207, 0.2);
  &__image {
    width: 45px;
    height: 30px;
    margin-right: 18px;
    border-radius: 30px;
  }
  &__container {
    width: 85%;
    text-align: left;
  }
  &__top {
    width: 75%;
    display: flex;
    justify-content: space-between;
    &--category {
      width: 45%;
      font-size: 14px;
    }
    &--amount {
      //width: 25%;
      font-size: 13px;
      font-weight: 600;
    }
    &--percentage {
      color: #FF5049;
      font-size: 13px;
      font-weight: 600;
    }
    &--date {
      //width: 25%;
      font-size: 12px;
      font-weight: 600;
      margin-right: -50px;
    }
  }
  &__bottom {
    font-size: 15px;
    font-weight: 600;
  }
  &__close {
    float: right;
  }
  &:hover {
    cursor: pointer;
  }
  &__notes {
    font-size: 15px;
    font-weight: 700;
    color: #64798A;
    font-family: 'Roboto', sans-serif;
  }
  &__remove {
    position: relative;
    &--heading {
      font-size: 12px;
      font-weight: 700;
      color: #64798A;
      font-family: 'Roboto', sans-serif;
    }
    &--btn-box {
      width: 70%;
      display: flex;
      margin: 0 auto;
      padding-top: 20px;
      justify-content: space-between;
    }
  }
}


