.list {
  height: 3.1em;
  display: flex;
  padding: 0.3em;
  margin: 1.1em 0;
  font-weight: 500;
  position: relative;
  align-items: center;
  border-radius: 0.3em;
  color: $color-primary-light;
  font-family: $font-family-additional;
  border: 0.1em solid $color-white-dark;
  box-shadow: 1px 0 0.6em 1px rgba($color-primary, 0.2);
  &__image {
    width: 2.8em;
    height: 1.8em;
    margin-right: 1.1em;
  }
  &__container {
    width: 85%;
    text-align: left;
  }
  &__top {
    width: 75%;
    display: flex;
    justify-content: space-between;
  }
  &__category {
    width: 45%;
    font-size: 0.85em;
  }
  &__amount {
    font-size: 0.8em;
    font-weight: 600;
  }
  &__percentage {
    font-size: 0.8em;
    font-weight: 600;
    margin-top: -0.030em;
    color: $color-primary-red;
  }
  &__date {
    font-weight: 600;
    font-size: 0.75em;
    margin-right: -3.1em;
  }
  &__bottom {
    font-size: 0.9em;
    font-weight: 600;
  }
  &__close {
    float: right;
  }
  &:hover {
    cursor: pointer;
  }
  &__notes {
    font-size: 0.9em;
    font-weight: 700;
    color: $color-primary-light;
    font-family: $font-family-primary;
  }
  &__text {
    text-align: center;
  }
}


