.preview {
  height: 100vh;
  color: $color-white;
  font-family: $font-family-primary;
  background: linear-gradient(315deg, rgba($color-primary-light, 0.8) 0%, rgba($color-primary-dark, 0.8) 74%);
  &__header {
    display: flex;
    padding: 2.5em;
    align-items: center;
  }
  &__title {
    flex-grow: 1;
    font-size: 0.7em;
    padding-top: 0.6em;
    margin-left: 1.2em;
  }
  &__logo {
    font-size: 4rem;
  }
  &__faq {
    left: 90%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  &__slogan {
    top: 40%;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  &__heading {
    text-transform: uppercase;
    backface-visibility: hidden;
    &--sub {
      display: block;
      font-weight: 500;
      font-size: 0.85em;
      letter-spacing: 1.2;
    }
  }
  &__greeting {
    display: block;
    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: 1.2;
  }
  &__action {
    display: block;
    font-weight: 500;
    font-size: 0.85em;
    letter-spacing: 1px;
  }
  &__btn-box {
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  &__header &__title {
    padding-bottom: 0.3em;
    border-bottom: 1px solid rgba($color-white, 0.4);
  }
}