.settings {
  width: 50em;
  height: 100%;
  margin: 0 auto;
  font-weight: 300;
  color: $color-primary;
  font-family: $font-family-primary;
  &__header {
    padding-top: 2.1em;
    text-align: center;
  }
  &__header-title {
    font-size: 1.5em;
  }
  &__container {
    display: flex;
    overflow: hidden;
    min-height: 28em;
  }
  &__left-column {
    width: 30%;
  }
  &__column {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    padding-top: 2.61em;
    list-style-type: none;
    flex-direction: column;
  }
  &__item {
    flex: auto;
    display: flex;
    cursor:pointer;
    font-size: 0.7em;
    font-weight: 700;
    color: $color-primary;
    text-transform: uppercase;
    transition: all .2s ease-out;
    font-family: $font-family-additional;
    &.selected {
      color: $color-primary-red;
    }
  }
  &__tabs {
    width: 70%;
    display: flex;
    padding: 1.2em;
    flex-direction: column;
    justify-content: space-between;
    border-left: 2px solid $color-white-dark;
  }
  &__tab {
    width: 72%;
    margin: 0 auto;
  }
  &__alarm {
    text-align: center;
  }
  &__alarm-heading {
    font-size: 0.85em;
    font-family: $font-family-additional;
  }
}
