.statistic {
  color: #203d4a;
  font-weight: 300;
  position: relative;
  font-family: 'Roboto', sans-serif;
  &__header {
    margin: 30px 0;
    text-align: center;
    &--title {
      font-size: 25px;
    }
  }
  &__dropdown {
    width: 200px;
    margin: -30px auto 0 auto;
  }
  &__container-svg {
      margin-top: 40px;
  }
  &__alarm {
    margin-top: 30px;
    font-size: 25px;
  }
  &__double-bar-chart {
    width: 960px;
    height: 1000px;
    margin: -20px auto 0 auto;
    &--title {
      fill: #203d4a;
      font-size: 12px;
      font-weight: 500;
      text-anchor: start;
      text-transform: uppercase;
    }
    &--color-legend {
      font-size: 12px;
    }
    &--select {
      width: 300px;
      margin: 0 auto 0;
      position: relative;
    }
  }
  &__balance-bar-chart {
    width: 960px;
    margin: 0 auto;
    height: 1000px;
    &--title {
      fill: #203d4a;
      font-size: 12px;
      font-weight: 500;
      text-anchor: start;
      text-transform: uppercase;
    }
    &--select {
      width: 300px;
      margin: 0 auto 0;
      position: relative;
    }
  }
  &__pie-chart {
    width: 960px;
    margin: 0 auto;
    height: 1000px;
    &--months {
      float: left;
      width: 300px;
      margin: 0 auto 0;
      position: relative;
    }
    &--currency {
      float: right;
      width: 300px;
      margin: 0 auto 0;
      position: relative;
    }
  }
}

.axis line {
  stroke: #203d4a;
}
.axis text {
  fill: #203d4a;
  font-size: 12px;
}
.axis:not(:first-of-type) {
  stroke-opacity: 0.5;
  stroke-dasharray: 2.2;
}