.tabs {
  width: 50%;
  margin: 0 auto;
  font-weight: 700;
  color: $color-primary-light;
  font-family: $font-family-additional;
  &__container {
    height: 3.7em;
    border-radius: 0.6em;
    border: 2px solid  $color-white-dark;
  }
  &__wrapper {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  &__lists {
    height: 3.7em;
    display: inline-block;
    vertical-align: middle;
  }
  &__list {
    display: block;
    padding: 0 2.1em;
    font-size: 0.83em;
    line-height: 4.5em;
  }
  &__value {
    cursor: pointer;
    &.selected {
      color: $color-primary-red;
    }
  }
  &__btn-container {
    position: absolute;
    transform: translate(-50%, 100%);
    & label {
      width: 1.5em;
      height: 1.5em;
      display: block;
      margin: 0 auto;
      cursor: pointer;
      border-radius: 50%;
      transition: all 0.5s ease;
      background: $color-primary-light;
      &:active {
        transform: translateY(2px);
      }
    }
    & label:before,
    & label:after {
      top: 50%;
      left: 50%;
      height: 1em;
      content: "";
      width: 0.18em;
      position: absolute;
      background: $color-white-lighter;
    }
    & label:before {
      transform: translate(-50%,-50%);
    }
    & label:after {
      transform: translate(-50%,-50%) rotate(90deg);
    }
  }
}