//All Btn
.btn {
  outline: none;
  color: #203d4a;
  font-size: 13px;
  cursor: pointer;
  overflow: hidden;
  appearance: none;
  font-weight: 300;
  position: relative;
  align-self: center;
  text-align: center;
  border-radius: 8px;
  padding: 10px 25px;
  border-style: solid;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  &:after {
    width: 0;
    top: 50%;
    left: 50%;
    height: 0;
    z-index: -1;
    content: '';
    opacity: 0.15;
    border-radius: 8px;
    position: absolute;
    pointer-events: none;
    transition: all 0.5s ease;
  }
  &:hover:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &:focus {
    outline: 0;
  }
  &:active {
    transform: translateY(2px);
  }
  &__modal {
    border-color: #dedcdc;
    &:after {
      background: #203d4a;
    }
  }
  &__preview {
    z-index: 1;
    border-color: #fff;
    background-color: #fff;
    &:after {
      background: #203d4a;
    }
  }
  &__logout {
    font-size: 14px;
    font-weight: 300;
    border: 2px solid #dedcdc;
  }
  &__delete {
    padding: 0;
    border: none;
    line-height: 1;
    color: #FF5049;
    cursor: pointer;
    font-size: 23px;
    background: none;
    display: inline-block;
    vertical-align: middle;
  }
}
//auth Btn
.auth__btn-off,
.auth__btn-on {
  color: #fff;
  width: 100%;
  height: 48px;
  opacity: 0.5;
  display: flex;
  outline: none;
  line-height: 1;
  font-size: 14px;
  font-weight: 600;
  min-width: 140px;
  margin-top: 15px;
  border-width: 1px;
  text-align: center;
  border-radius: 8px;
  border-style: solid;
  align-items: center;
  flex-direction: row;
  cursor: not-allowed;
  white-space: nowrap;
  border-color: #203d4a;
  text-decoration: none;
  box-sizing: border-box;
  vertical-align: middle;
  justify-content: center;
  background-color: #203d4a;
  transition: all 0.2s ease-in-out 0s;
}
.auth__btn-on {
  opacity: 1;
  cursor: pointer;
  &:active {
    transform: translateY(2px);
  }
}

//Input
.input {
  margin: 0;
  width: 100%;
  outline: none;
  color: #203d4a;
  font-size: 14px;
  border-radius: 5px;
  padding: 12px 18px;
  background: #fafafa;
  transition: all 0.4s ease;
  border: 1px solid #dedcdc;
  font-family: 'Roboto', sans-serif;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  &.success {
    border: 1px solid green;
  }
  &.error {
    border: 1px solid #FF5049;
  }
}

//Dropdown
.container__add {
  width: 200px;
}
.container__edit {
  width: 473px;
}
.dropdown {
  width: 100%;
  border-radius: 5px;
  position: relative;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  &__box {
    height: 46px;
    display: flex;
    padding: 0 1rem;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
    border: 1px solid #ccc;
    justify-content: space-between;
  }
  &__selected {
    width: 100%;
    outline: none;
    color: #7f7c7c;
    font-size: 15px;
    padding: 8px 8px;
    line-height: 1.5;
    text-align: start;
    background-color: #fff;
    box-sizing: border-box;
    transition: all 200ms ease;
    &.selected {
      color: #203d4a;
    }
  }
  &__icon {
    color: #7f7c7c;
  }
  &__bottom {
    top: 100%;
    width: 100%;
    z-index: 1000;
    display: none;
    margin-top: -1px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  }
  &__options {
    color: #7f7c7c;
    display: block;
    font-size: 14px;
    cursor: pointer;
    padding: 8px 20px;
    text-align: start;
    box-sizing: border-box;
    &:hover {
      cursor: pointer;
      background-color: #eee;
      transition: .15s background-color ease-in;
    }
    &:not(:last-child) {
      border-bottom: 1px solid #ccc;
    }
    &.selected {
      color: #FF5049;
      background-color: #f2f9fc;
    }
  }
  &.open &__bottom {
    display: block;
  }
}
.img.rot {
  animation: 1s linear 0s normal none infinite running rot;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//Bounce Loader
.bounce {
  padding-top: 90px;
  &__container {
    left: 50%;
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    transform: translate(-50%,-50%);
  }
  &__container li {
    width: 40px;
    height: 40px;
    background: #fff;
    list-style: none;
    border-radius: 50%;
    animation: animate 1.6s ease-in-out infinite;
  }
  &__container li:nth-child(1) {
    background: #64798ACC;
    animation-delay: -1.4s;
  }
  &__container li:nth-child(2) {
    background: #64798ACC;
    animation-delay: -1.2s;
  }
  &__container li:nth-child(3) {
    animation-delay: -1s;
    background: #64798ACC;
  }
  &__container li:nth-child(4) {
    background: #64798ACC;
    animation-delay: -0.8s;
  }
  &__container li:nth-child(5) {
    background: #64798ACC;
    animation-delay: -0.6s;
  }
  &__container li:nth-child(6) {
    background: #64798ACC;
    animation-delay: -0.4s;
  }
}
@keyframes Text {
  0%, 40%,100% {
    opacity:0.3;
  }
  20% {
    opacity:0.4;
  }
}
@keyframes animate {
  0%, 40%,100% {
    transform: scale(0.2);

  }
  20% {
    background: #203d4a;
    transform: scale(0.6);
  }
}
//Btn Loader
.btn-loader {
  /*margin: 100px auto 0;*/
  width: 70px;
  text-align: center;
  /*background-color: red;*/
}

.btn-loader > div {
  width: 18px;
  height: 18px;
  /*background-color: #333;*/
  background-color: #fff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.btn-loader .btn-loader__bounce-one {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.btn-loader .btn-loader__bounce-two {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}
//Textarea
.textarea {
  height: 200px;
}
//Slider
.slider {
  height: 30px;
  display: flex;
  font-weight: 300;
  position: relative;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  &__box {
    width: auto;
    height: 20px;
    border-radius: 10px;
  }
  &__arrow {
    top: 18%;
    //z-index: 10;
    color: #64798A;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    position: absolute;
    &--left {
      left: 32px;
    }
    &--right {
      right: 32px;
    }
  }
  &__content {
    color: #64798A;
    font-size: 14px;
  }
  &__slide {
    opacity: 0;
    transition-duration: 1s;
    transition-timing-function: ease;
    &.active {
      opacity: 1;
      transition-duration: 1s;
    }
  }
}