.verify-email {
    font-weight: 500;
    color: $color-primary;
    text-align: center;
    font-family: $font-family-primary;
    &__title {
        font-size: 1em;
    }
    &__helper {
        font-size: 1em;
        margin-top: 2.5em;
    }
}